<div class="well" ng-controller="NovaInscricaoController">
    <h3>Nova inscrição de curso</h3>
    <form name="form_1">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group form-group-default">
                    <label>Nome</label>
                    <input type="text" id="nome_aluno" name="nome_aluno" class="form-control" ng-model="nome_aluno" ng-minlength="3">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group form-group-default">
                    <label>Idade</label>
                    <input type="number" class="form-control" id="idade_aluno" ng-model="idade_aluno">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button ng-click="submeter()" class="btn btn-primary">Adicionar</button>
            </div>
        </div>
    </form>
</div>